{% extends 'examapp/base.html' %}
{% load static %}
<html>
    <head>
        {% block title %} <title>Admin Login Page</title> {% endblock title %}
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="center text-success text-center">Admin Login</h4>
                        </div>
                        <div class="card-body">
                            <form action="doLogin" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="name" class="form-control" placeholder="Enter UserName" name="name">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success btn-block" >LogIn</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            {% if messages %}
                            <div class="col-12">
                               {% for message in messages %}
                               {% if message.tags == 'error' %}
                               <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                               {% endif %}
                               {% if message.tags == 'success' %}
                               <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                               {% endif %}
                               {% endfor %}
                             </div>
                             {% endif %}
                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>



{% comment %} {% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Student</b> Management System</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">   </p>
  
        <form action="/doLogin" method="post" id="demo-form">
        {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" >Sign In</button>
            </div><!-- /.col -->
             <div class="col-12 text-center">
               <a href="#">Reset Password</a>
            </div><!-- /.col -->
              <div class="col-12 text-center">
               <a href="#">Admin Signup FOR TESTING</a>
            </div><!-- /.col -->
                          <div class="col-12 text-center">
               <a href="#">Staff Signup FOR TESTING</a>
            </div><!-- /.col -->
                                      <div class="col-12 text-center">
               <a href="#">Student Signup FOR TESTING</a>
            </div><!-- /.col -->
          </div>
          <div class="row">
            {% if messages %}
           <div class="col-12">
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </form>
  
        <!-- /.social-auth-links -->
  
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  
{% endblock content %}
</body>
</html> {% endcomment %}